{% if messages %}
    <ul class="w-100 d-flex flex-column align-items-center p-0">
        {% for message in messages %}
            {% if message.tags == "info" %}
            <div class="alert alert-info alert-dismissible fade show w-100" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.tags == "warning" %}
            <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}