{% load widget_tweaks %}
<form class="row" action="{{form_submit_url}}" method="post">
    {% csrf_token %}
    
    <div class="col-12">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        {% for field in form %}
        <div class="{% if forloop.counter0 == 0 or forloop.counter0 == 1 %}col-sm-6{% else %}col-12{% endif %} {% if forloop.counter0 == 0 %}pe-sm-2{% endif %}">
            {{ field.help_text }}
            {% for error in field.errors %}
            <p class="text-danger mb-1">{{error}}</p>
            {% endfor %}
            <div class="form-floating mb-3">
            {% render_field field class+="form-control" id=field.name placeholder=field.name|capfirst %}
            <label for="{{ field.name }}">{{ field.label_tag }}</label>
            </div>
        </div>
        {% endfor %}
    {% endwith %}
    
    <div class="col-12 d-flex justify-content-center">
        <input type="submit" value="SUBMIT" class=" w-100 btn btn-outline-primary">
    </div>
</form>